.img {
    height: 100px;
    width: 100px;
}

 li {
     color: black;
 }

 header{
     background-color: lightblue;
 }

 img {
    max-width: 100%;
    width: 100px;
    height: 200px;
 }

 #carouselExampleControls {
     width: 300px;
     margin: 0 auto;
 }

 .planes {
     background-image: linear-gradient(pink, white);
 }

a {
    text-decoration: none;
    color: black;
}

.Titulo1 {
    display: grid;
    justify-content: center;
    background-color: lightblue;
    color: white;
}


footer {
    display: grid;
    justify-items: center;
}

/** INDEX**/


.lista-navegacion {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.lista-navegacion li:hover {
    background-color: lightblue;
    padding: 10px;
}

.listanavegacion li:hover {
    background-color: lightblue;
    padding: 10px;
}

.membresia {
        color: black;
        font-family: "Hurricane";
        text-align: center;
        font-size: 2.5rem;
}

.textoMembresia {
    display: grid;
    justify-items: center;
    font-size: 1.5rem;
}

.card-body {
    text-align: center;
}

.galeria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.galeria .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all 0.25s;
}

.galeria .card:hover {
    transform: translateY(-15PX);
    box-shadow: 0 12px 16px rgba (0, 0, 0, 0.2);

}